@page
@model ThynkPCRProject.Pages.PCR.BookModel
@{

    <form method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Id Number</label>
            <input type="text" class="form-control" id="idnumber" name="idnumber" placeholder="Enter Id Card Number">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
}
