@page
@model ThynkPCRProject.Pages.PCR.CreateModel
@{
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


    <br />
    <h2>New Booking</h2>

    <script>
        var previousvalue = 0;
        function showvalues(value) {
            
            var elems = document.getElementsByClassName(value);
            console.log(elems);
            for (var i = 0; i < elems.length; i += 1) {
                elems[i].style.display = 'table-row';
            }

            var prevelems = document.getElementsByClassName(previousvalue);
            for (var i = 0; i < prevelems.length; i += 1) {
                prevelems[i].style.display = 'none';

            }

            previousvalue = value;
        }

    </script>



    <form method="POST">

        <label for="comboA">Country:</label>
        <select id="comboA" name="comboA" onchange="showvalues(this.value)">
            <option value="0">Select Country</option>
            <option value="1">Malta</option>
            <option value="2">Italy</option>
            <option value="3">Singapore</option>
            <option value="4">Australia</option>
            <option value="5">United States of America</option>
        </select>

      
        <br />
        <table class="table">
            <thread>
                <tr>
                    <th>Allocation ID</th>
                    <th>Date</th>
                </tr>

            </thread>
            <tbody>
                @foreach (var availability in Model.availabilitieslist)
                {
                <tr class=@availability.venueid style="display:none">
                    <td>@availability.allocationid</td>
                    <td>@availability.allocationdate.Remove(availability.allocationdate.Length-12)</td>
                    <td><a class="btn btn-primary btn-sm" href="/PCR/Book?allocationid=@availability.allocationid&VenueID=@availability.venueid&date=@availability.allocationdate.Remove(availability.allocationdate.Length-12)">Book</a></td>
                </tr>
                }
            </tbody>
        </table>

    </form>



}
